
bin/Debug/DualSenseAT.exe
bin/Debug/DualSenseAT.exe.config
bin/Debug/DualSenseAT.pdb
bin/Debug/Memory.dll
bin/Debug/Memory.xml
.vs/DualSenseAT/v16/.suo
obj/Debug/DualSenseAT.csproj.CopyComplete
obj/Debug/DualSenseAT.csproj.CoreCompileInputs.cache
obj/Debug/DualSenseAT.csproj.FileListAbsolute.txt
obj/Debug/DualSenseAT.csproj.GenerateResource.cache
obj/Debug/DualSenseAT.exe
obj/Debug/DualSenseAT.Form1.resources
obj/Debug/DualSenseAT.pdb
obj/Debug/DualSenseAT.Properties.Resources.resources
.vs/DualSenseAT/v16/.suo
.vs/DualSenseAT/v16/.suo
.vs/DualSenseAT/v16/.suo
bin/Debug/System.Xml.XPath.XDocument.dll
bin/Debug/System.Xml.XPath.dll
bin/Debug/System.Xml.XmlSerializer.dll
bin/Debug/System.Xml.XmlDocument.dll
bin/Debug/System.Xml.XDocument.dll
bin/Debug/System.Xml.ReaderWriter.dll
bin/Debug/System.ValueTuple.dll
bin/Debug/System.Threading.Timer.dll
bin/Debug/System.Threading.ThreadPool.dll
bin/Debug/System.Threading.Thread.dll
bin/Debug/System.Threading.Tasks.Parallel.dll
bin/Debug/System.Threading.Tasks.dll
bin/Debug/System.Threading.Overlapped.dll
bin/Debug/System.Threading.dll
bin/Debug/System.Text.RegularExpressions.dll
bin/Debug/System.Text.Encoding.Extensions.dll
bin/Debug/System.Text.Encoding.dll
bin/Debug/System.Security.SecureString.dll
bin/Debug/System.Security.Principal.dll
bin/Debug/System.Security.Cryptography.X509Certificates.dll
bin/Debug/System.Security.Cryptography.Primitives.dll
bin/Debug/System.Security.Cryptography.Encoding.dll
bin/Debug/System.Security.Cryptography.Csp.dll
bin/Debug/System.Security.Cryptography.Algorithms.dll
bin/Debug/System.Security.Claims.dll
bin/Debug/System.Runtime.Serialization.Xml.dll
bin/Debug/System.Runtime.Serialization.Primitives.dll
bin/Debug/System.Runtime.Serialization.Json.dll
bin/Debug/System.Runtime.Serialization.Formatters.dll
bin/Debug/System.Runtime.Numerics.dll
bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
bin/Debug/System.Runtime.InteropServices.dll
bin/Debug/System.Runtime.Handles.dll
bin/Debug/System.Runtime.Extensions.dll
bin/Debug/System.Runtime.dll
bin/Debug/System.Runtime.CompilerServices.VisualC.dll
bin/Debug/System.Resources.Writer.dll
bin/Debug/System.Resources.ResourceManager.dll
bin/Debug/System.Resources.Reader.dll
bin/Debug/System.Reflection.Primitives.dll
bin/Debug/System.Reflection.Extensions.dll
bin/Debug/System.Reflection.dll
bin/Debug/System.ObjectModel.dll
bin/Debug/System.Net.WebSockets.dll
bin/Debug/System.Net.WebSockets.Client.dll
bin/Debug/System.Net.WebHeaderCollection.dll
bin/Debug/System.Net.Sockets.dll
bin/Debug/System.Net.Security.dll
bin/Debug/System.Net.Requests.dll
bin/Debug/System.Net.Primitives.dll
bin/Debug/System.Net.Ping.dll
bin/Debug/System.Net.NetworkInformation.dll
bin/Debug/System.Net.NameResolution.dll
bin/Debug/System.Net.Http.dll
bin/Debug/System.Linq.Queryable.dll
bin/Debug/System.Linq.Parallel.dll
bin/Debug/System.Linq.Expressions.dll
bin/Debug/System.Linq.dll
bin/Debug/System.IO.UnmanagedMemoryStream.dll
bin/Debug/System.IO.Pipes.dll
bin/Debug/System.IO.MemoryMappedFiles.dll
bin/Debug/System.IO.IsolatedStorage.dll
bin/Debug/System.IO.FileSystem.Watcher.dll
bin/Debug/System.IO.FileSystem.Primitives.dll
bin/Debug/System.IO.FileSystem.DriveInfo.dll
bin/Debug/System.IO.FileSystem.dll
bin/Debug/System.IO.dll
bin/Debug/System.IO.Compression.ZipFile.dll
bin/Debug/System.IO.Compression.dll
bin/Debug/System.Globalization.Extensions.dll
bin/Debug/System.Globalization.dll
bin/Debug/System.Globalization.Calendars.dll
bin/Debug/System.Dynamic.Runtime.dll
bin/Debug/System.Drawing.Primitives.dll
bin/Debug/System.Diagnostics.Tracing.dll
bin/Debug/System.Diagnostics.TraceSource.dll
bin/Debug/System.Diagnostics.Tools.dll
bin/Debug/System.Diagnostics.TextWriterTraceListener.dll
bin/Debug/System.Diagnostics.StackTrace.dll
bin/Debug/System.Diagnostics.Process.dll
bin/Debug/System.Diagnostics.FileVersionInfo.dll
bin/Debug/System.Diagnostics.Debug.dll
bin/Debug/System.Diagnostics.Contracts.dll
bin/Debug/System.Data.Common.dll
bin/Debug/System.Console.dll
bin/Debug/System.ComponentModel.TypeConverter.dll
bin/Debug/System.ComponentModel.Primitives.dll
bin/Debug/System.ComponentModel.EventBasedAsync.dll
bin/Debug/System.ComponentModel.dll
bin/Debug/System.Collections.Specialized.dll
bin/Debug/System.Collections.NonGeneric.dll
bin/Debug/System.Collections.dll
bin/Debug/System.Collections.Concurrent.dll
bin/Debug/System.AppContext.dll
bin/Debug/netstandard.dll
bin/Debug/Microsoft.Win32.Primitives.dll
.vs/DualSenseAT/v16/.suo
obj/Debug/DualSenseAT.exe.config
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
.vs/DualSenseAT/v16/.suo
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
